In [7]:
import numpy as np
import pandas as pd

produtos = ['carne', 'cerveja', 'feijao']
precos = [60,56,10]

lista_compra = pd.Series(precos, produtos)
lista_compra

carne      60
cerveja    56
feijao     10
dtype: int64

In [8]:
lista_compra.max()

60

In [11]:
lista_compra_np = pd.Series(np.array(precos), produtos, dtype=float)
lista_compra_np

carne      60.0
cerveja    56.0
feijao     10.0
dtype: float64

In [12]:
extra = pd.Series(np.array([58, 63, 9]), produtos, dtype=float)
carrefour = pd.Series(np.array([55, 59,11]), produtos, dtype=float)

In [13]:
sams = lista_compra

In [16]:
precos_medios = (extra + carrefour + sams) / 3
precos_medios

carne      57.666667
cerveja    59.333333
feijao     10.000000
dtype: float64

In [17]:
extra.sum()

130.0

In [18]:
carrefour.sum()

125.0

In [19]:
sams.sum()

126

In [20]:
sams['carne']

60

In [22]:
mercados = ['extra', 'carrefour', 'sams']
produtos = ['carne', 'cerveja', 'feijao']
precos = [
    [extra['carne'], carrefour['carne'], sams['carne']],
    [extra['cerveja'], carrefour['cerveja'], sams['cerveja']],
    [extra['feijao'], carrefour['feijao'], sams['feijao']]
    ]
df_compras = pd.DataFrame(precos, produtos, mercados)
df_compras

         extra  carrefour  sams
carne     58.0       55.0    60
cerveja   63.0       59.0    56
feijao     9.0       11.0    10

In [23]:
df_compras = df_compras.T
df_compras

           carne  cerveja  feijao
extra       58.0     63.0     9.0
carrefour   55.0     59.0    11.0
sams        60.0     56.0    10.0

In [24]:
df_compras['carne']

extra        58.0
carrefour    55.0
sams         60.0
Name: carne, dtype: float64

In [25]:
df_compras['carne']['sams'] = 54
df_compras

           carne  cerveja  feijao
extra       58.0     63.0     9.0
carrefour   55.0     59.0    11.0
sams        54.0     56.0    10.0

In [33]:
df_compras['arroz'] = [7, 5, 6]
df_compras['arroz'] = df_compras['arroz'].astype(float)
df_compras

           carne  cerveja  feijao  arroz
extra       58.0     63.0     9.0    7.0
carrefour   55.0     59.0    11.0    5.0
sams        54.0     56.0    10.0    6.0

In [34]:
df_compras = df_compras.T

In [35]:
df_compras

         extra  carrefour  sams
carne     58.0       55.0  54.0
cerveja   63.0       59.0  56.0
feijao     9.0       11.0  10.0
arroz      7.0        5.0   6.0

In [36]:
df_compras['mix'] = [45, 58, 9, 5]
df_compras

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58
feijao     9.0       11.0  10.0    9
arroz      7.0        5.0   6.0    5

In [38]:
df_compras[['extra','sams']]

         extra  sams
carne     58.0  54.0
cerveja   63.0  56.0
feijao     9.0  10.0
arroz      7.0   6.0

In [39]:
df_compras.T[['carne', 'arroz']]

           carne  arroz
extra       58.0    7.0
carrefour   55.0    5.0
sams        54.0    6.0
mix         45.0    5.0

In [40]:
df_compras

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58
feijao     9.0       11.0  10.0    9
arroz      7.0        5.0   6.0    5

In [45]:
df_compras.loc[['carne', 'cerveja']]

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58

In [49]:
df_compras.loc[['carne', 'arroz'], ['carrefour', 'mix']]

       carrefour  mix
carne       55.0   45
arroz        5.0    5

In [54]:
df_compras.drop('mix', axis=1, inplace=True)

In [55]:
df_compras.drop('feijao', axis=0, inplace=True)

In [56]:
df_compras

         extra  carrefour  sams
carne     58.0       55.0  54.0
cerveja   63.0       59.0  56.0
arroz      7.0        5.0   6.0

In [59]:
df_compras.iloc[:, 1:3]

         carrefour  sams
carne         55.0  54.0
cerveja       59.0  56.0
arroz          5.0   6.0

In [62]:
df_compras.sum()

extra        128.0
carrefour    119.0
sams         116.0
dtype: float64

In [63]:
df_compras.mean(axis=1)

carne      55.666667
cerveja    59.333333
arroz       6.000000
dtype: float64

In [64]:
df_compras['Media'] = df_compras.mean(axis=1)
df_compras

         extra  carrefour  sams      Media
carne     58.0       55.0  54.0  55.666667
cerveja   63.0       59.0  56.0  59.333333
arroz      7.0        5.0   6.0   6.000000

In [77]:
df_compras.drop('Media', axis=1, inplace=True)

In [78]:
df_compras

         extra  carrefour  sams
carne     58.0       55.0  54.0
cerveja   63.0       59.0  56.0
arroz      7.0        5.0   6.0

In [87]:
# duvida aqui
precos_medios = df_compras.mean(axis=0)
precos_medios

extra        42.666667
carrefour    39.666667
sams         38.666667
dtype: float64

In [88]:
df_compras < precos_medios

         extra  carrefour   sams
carne    False      False  False
cerveja  False      False  False
arroz     True       True   True

In [89]:
df_compras['mix'] = [45, 58, 9]
df_compras

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58
arroz      7.0        5.0   6.0    9

In [95]:
df_compras['Media'] = df_compras.mean(axis=1)
df_compras

         extra  carrefour  sams  mix  Media
carne     58.0       55.0  54.0   45  53.00
cerveja   63.0       59.0  56.0   58  59.00
arroz      7.0        5.0   6.0    9   6.75

In [102]:
precos_medios = df_compras.mean(axis=1)
df_compras.T < precos_medios

           carne  cerveja  arroz
extra      False    False  False
carrefour  False    False   True
sams       False     True   True
mix         True     True  False
Media      False    False  False

In [105]:
del df_compras['Media']

KeyError: 'Media'

In [106]:
df_compras

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58
arroz      7.0        5.0   6.0    9

In [108]:
media_precos_produtos = df_compras.mean(axis=1)
media_precos_produtos

carne      53.00
cerveja    59.00
arroz       6.75
dtype: float64

In [109]:
tabela_precos_abaixo_media = df_compras.T < media_precos_produtos
tabela_precos_abaixo_media

           carne  cerveja  arroz
extra      False    False  False
carrefour  False    False   True
sams       False     True   True
mix         True     True  False

In [110]:
df_compras[tabela_precos_abaixo_media.T]

         extra  carrefour  sams   mix
carne      NaN        NaN   NaN  45.0
cerveja    NaN        NaN  56.0  58.0
arroz      NaN        5.0   6.0   NaN

In [111]:
menor_preco_produto = df_compras.min(axis=1)
menor_preco_produto

carne      45.0
cerveja    56.0
arroz       5.0
dtype: float64

In [120]:
menores_precos = df_compras.T[df_compras.T == menor_preco_produto]

In [123]:
menores_precos.T

         extra  carrefour  sams   mix
carne      NaN        NaN   NaN  45.0
cerveja    NaN        NaN  56.0   NaN
arroz      NaN        5.0   NaN   NaN

In [124]:
df_compras

         extra  carrefour  sams  mix
carne     58.0       55.0  54.0   45
cerveja   63.0       59.0  56.0   58
arroz      7.0        5.0   6.0    9

In [127]:
df_compras.min(axis=1)

carne      45.0
cerveja    56.0
arroz       5.0
dtype: float64

In [129]:
df_compras[df_compras.idxmin(axis=1)]

         mix  sams  carrefour
carne     45  54.0       55.0
cerveja   58  56.0       59.0
arroz      9   6.0        5.0

In [130]:
df_compras.std(axis=1)

carne      5.597619
cerveja    2.943920
arroz      1.707825
dtype: float64

In [131]:
df_compras.mean(axis=1)

carne      53.00
cerveja    59.00
arroz       6.75
dtype: float64

In [134]:
mercados_dentro_media = (df_compras.T >= df_compras.mean(axis=1) - df_compras.std(axis=1)) & (df_compras.T <= df_compras.mean(axis=1) + df_compras.std(axis=1))
mercados_dentro_media.T

         extra  carrefour   sams    mix
carne     True       True   True  False
cerveja  False       True  False   True
arroz     True      False   True  False

In [138]:
df_compras.reset_index(inplace=True)
df_compras['Estado'] = ['PE', 'BA', 'ES']
df_compras

   level_0    index  extra  carrefour  sams  mix Estado
0        0    carne   58.0       55.0  54.0   45     PE
1        1  cerveja   63.0       59.0  56.0   58     BA
2        2    arroz    7.0        5.0   6.0    9     ES

In [140]:
df_compras.set_index('Estado', inplace=True)
df_compras

        level_0    index  extra  carrefour  sams  mix
Estado
PE            0    carne   58.0       55.0  54.0   45
BA            1  cerveja   63.0       59.0  56.0   58
ES            2    arroz    7.0        5.0   6.0    9

In [146]:
df_compras = df_compras.iloc[:,1:]
df_compras

          index  extra  carrefour  sams  mix
Estado
PE        carne   58.0       55.0  54.0   45
BA      cerveja   63.0       59.0  56.0   58
ES        arroz    7.0        5.0   6.0    9

In [149]:
df_compras['Produto'] = df_compras['index']
del df_compras['index']
df_compras

        extra  carrefour  sams  mix  Produto
Estado
PE       58.0       55.0  54.0   45    carne
BA       63.0       59.0  56.0   58  cerveja
ES        7.0        5.0   6.0    9    arroz

In [152]:
df_compras = df_compras[['Produto', 'extra', 'carrefour', 'sams', 'mix']]
df_compras

        Produto  extra  carrefour  sams  mix
Estado
PE        carne   58.0       55.0  54.0   45
BA      cerveja   63.0       59.0  56.0   58
ES        arroz    7.0        5.0   6.0    9

In [154]:
df_compras[['Produto']]

        Produto
Estado
PE        carne
BA      cerveja
ES        arroz